<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--cache 是二级缓存，flushCache="true"在语句中关闭一级缓存 -->
    <!-- 开启延迟加载 -->
    <settings>
        <!-- lazyLoadingEnabled:延迟加载启动，默认是false -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- aggressiveLazyLoading：积极的懒加载，false的话按需加载，默认是true -->
        <setting name="aggressiveLazyLoading" value="false"/>

        <!-- 开启二级缓存，默认是false -->
        <!--多表查询中，注意使用参考缓存：适用于少量表，不常更新的数据;其余可以在业务层自己实现可控的缓存-->
        <setting name="cacheEnabled" value="true"/>

        <!--一级缓存,默认使用，在dao xml配置flush cache取消-->
        <setting name="localCacheScope" value="SESSION"/>

        <!-- 打印查询语句 -->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--     打印SQL只需要加一个setting就可以了。
     mybatis的日志打印方式比较多，SLF4J | LOG4J | LOG4J2 | JDK_LOGGING |
      COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING，可以根据自己的需要进行配置 -->
</configuration>